*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    border:none;
    
}

body{
    max-width:100%;
    margin : auto;
    .container{
        padding: 2rem 2rem;
    }
}
header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    .menu{
        display: flex;
        align-items: center;
        a{
            margin-right: 1rem;            
            text-decoration: none;
            color:hsl(257, 7%, 63%);
        }
    }
    .login{
        a{
            text-decoration: none;
            color:hsl(257, 7%, 63%);;
            border-radius:1.5rem;
            padding:0.5rem 1rem; 
            &:hover{
                color:#fff;
                background-color: hsl(180, 66%, 49%);
            }
        }
    }
}
banner{
    display: flex;
    justify-content: space-between;
    align-items:center;
    height: 100%;
    position: relative;
    margin-bottom:100px;
    left{
        display: block;
        justify-content: center;
        align-items:center;
        width:400px;
        height: 300px;
        h1{
            line-height: 1;
            font-weight: 900;
            font-size: 3rem;
        }
        p{
            margin-bottom: 1.5rem;
            color:hsl(257, 7%, 63%);
        }
        a{
            padding:0.5rem 1rem; 
            border-radius:1.5rem;
            color:#fff;
            background-color: hsl(180, 66%, 49%);
        }
    }
    right{
        overflow:hidden;
        img{
            position: relative;
            left: 150px;
        }
    }
}
.search{
    position: absolute;bottom:-14%;left:10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto;
    width: 80%;
    height: 100px;
    border-radius:10px;
    background: url(../images/bg-boost-desktop.svg) hsl(255, 11%, 22%); 
    input{
        margin:auto 10px;
        border:none;
        border-radius:5px;
        width: 80%;
        height: 40%;
        &::placeholder{
            padding:20px;
        }
    }
    button{
        width: 10%;
        height: 40%;
        border-radius:5px;
        background-color: hsl(180, 66%, 49%);
        color:#fff;
    }
}

main{
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    padding: 50px;
    background: rgba(191, 191, 191, 0.3);
    height: 100%;
    p{
        color:#9e9aa7;
    }
    .main-title{
        margin:30px auto ;
        padding:3px;
        max-width: 40%;
        text-align: center;
    }
    .main-text-card{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 350px;
        h4{
            margin-bottom: 5px;
        }
        &:after{
            content: '';
            background-color: rgb(3, 180, 171);
            width: 700px;
            height: 7px;
            display: block;
            position: absolute; left:200px;
            z-index:-1;
        }
        .main-text{
            display:flex;
            width:250px;
            height:200px;
            margin:30px;
            padding: 20px;
            flex-direction: column;
            background-color: #fff;
            p{
                font-size: 10px;
            }
            &.brand{
                display: flex;
                justify-content: center;
                align-self: flex-start;
                position: relative;
                &::before{
                    content: url(../images/icon-brand-recognition.svg);
                    position: absolute;top:-35px;
                    background: hsl(260, 8%, 14%);
                    width: 60px;height: 60px;
                    border-radius: 50%;
                    margin: auto;
                    padding: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            &.detailed{
                display: flex;
                justify-content: center;
                align-self: center;
                position: relative;
                &::before{
                    content: url(../images/icon-detailed-records.svg);
                    position: absolute;top:-35px;
                    background: hsl(260, 8%, 14%);
                    width: 60px;height: 60px;
                    border-radius: 50%;
                    margin: auto;
                    padding: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            &.fully{
                display: flex;
                justify-content: center;
                align-self: flex-end;
                position: relative;
                &::before{
                    content: url(../images/icon-fully-customizable.svg);
                    position: absolute;top:-35px;
                    background: hsl(260, 8%, 14%);
                    width: 60px;height: 60px;
                    border-radius: 50%;
                    margin: auto;
                    padding: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            .line{
                content:'123';
            } 
        }
    }
}
