* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  border: none;
}

* a {
  cursor: pointer;
}

* img {
  max-width: 100%;
  max-height: 100%;
}

.container {
  padding: 2rem 2rem;
}

header .navbar {
  display: none;
}

header .navbar .menu-hidden {
  display: none;
}

header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .menu .menu-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .menu .menu-bar a {
  margin-right: 1rem;
  text-decoration: none;
  color: #bfbfbf;
}

header .menu .menu-bar a:hover {
  color: #000;
}

header .menu .menu-login a {
  text-decoration: none;
  color: #bfbfbf;
  border-radius: 1.5rem;
  padding: 0.5rem 1rem;
}

header .menu .menu-login a:hover {
  color: #fff;
  background-color: #2acfcf;
}

@media (max-width: 414px) {
  header .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 20px 0;
  }
  header .navbar .collapse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  header .navbar .collapse.navbar-collapse {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 70px;
    left: 0;
    padding: 10px;
    background: #2e2442;
    border-radius: 10px;
    width: 100%;
    height: 240px;
    z-index: 100;
  }
  header .navbar .collapse.navbar-collapse .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 5px;
  }
  header .navbar .collapse.navbar-collapse .navbar-nav .nav-item:hover {
    color: #fff;
    background-color: #2acfcf;
    border-radius: 30px;
    width: 80%;
    text-align: center;
  }
  header .navbar .collapse.navbar-collapse .navbar-nav .nav-item .nav-link {
    color: #fff;
  }
  header .navbar .collapse.navbar-collapse .dividing-line {
    content: '';
    width: 300px;
    height: 1px;
    margin: 5px;
    background: #bfbfbf;
  }
  header .menu {
    display: none;
  }
  header .menu .menu-bar {
    display: none;
  }
  header .menu .menu-login {
    display: none;
  }
  header .menu .logo {
    display: block;
  }
  header .menu-hidden {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1rem;
    background: #000;
  }
  header .menu-hidden .hamburger {
    display: block;
  }
  header .menu-hidden .hamburger i {
    font-size: 32px;
    color: #bfbfbf;
    position: absolute;
  }
}

banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  max-width: 100%;
  margin-bottom: 100px;
  position: relative;
}

banner left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 50%;
  height: 200px;
}

banner left h1 {
  line-height: 1;
  font-weight: 900;
  font-size: 3rem;
}

banner left p {
  margin-bottom: 1.5rem;
  color: #bfbfbf;
}

banner left a {
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  color: #fff;
  background-color: #2acfcf;
  text-decoration: none;
  max-width: 150px;
  text-align: center;
}

banner left a:hover {
  color: #fff;
  background-color: #56dcdc;
}

banner right {
  display: inline-block;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  overflow: hidden;
  margin-left: 10px;
  max-width: 50%;
}

banner .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

banner .search .search-bar {
  position: absolute;
  bottom: -45%;
  left: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: 130px;
  border-radius: 10px;
  background: url(../images/bg-boost-desktop.svg) #2e2442;
}

banner .search .search-bar .search-bar-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
}

banner .search .search-bar .search-bar-input input {
  margin: 0px 15px;
  margin-top: 20px;
  padding: 0 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 50px;
  outline: none;
}

banner .search .search-bar .search-bar-input input::-webkit-input-placeholder {
  padding: 20px;
}

banner .search .search-bar .search-bar-input input:-ms-input-placeholder {
  padding: 20px;
}

banner .search .search-bar .search-bar-input input::-ms-input-placeholder {
  padding: 20px;
}

banner .search .search-bar .search-bar-input input::placeholder {
  padding: 20px;
}

banner .search .search-bar .search-bar-input .search-bar-prompt {
  visibility: hidden;
  margin: 0;
  margin-right: auto;
  color: #f46262;
}

banner .search .search-bar .search-bar-button {
  width: 150px;
  padding: 0 15px;
  height: 50px;
  border-radius: 5px;
  background-color: #2acfcf;
  color: #fff;
  cursor: pointer;
}

banner .search .search-bar .search-bar-button:hover {
  color: #fff;
  background-color: #56dcdc;
}

@media (max-width: 414px) {
  banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-bottom: 150px;
  }
  banner left {
    max-width: 100%;
    max-height: 100%;
    margin-top: 20px;
    text-align: center;
  }
  banner left a {
    margin: 20px auto;
    width: 50%;
  }
  banner right {
    max-width: 100%;
    max-height: 100%;
    margin: 20px;
  }
  banner .search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  banner .search .search-bar {
    position: absolute;
    bottom: -50%;
    left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    height: 200px;
    border-radius: 10px;
    background: url(../images/bg-boost-desktop.svg) #2e2442;
  }
  banner .search .search-bar .search-bar-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    width: 100%;
  }
  banner .search .search-bar .search-bar-input input {
    margin: 0 15px;
    padding: 0 10px;
    border: none;
    border-radius: 5px;
    width: 90%;
    height: 50px;
    outline: none;
  }
  banner .search .search-bar .search-bar-input input::-webkit-input-placeholder {
    padding: 20px;
  }
  banner .search .search-bar .search-bar-input input:-ms-input-placeholder {
    padding: 20px;
  }
  banner .search .search-bar .search-bar-input input::-ms-input-placeholder {
    padding: 20px;
  }
  banner .search .search-bar .search-bar-input input::placeholder {
    padding: 20px;
  }
  banner .search .search-bar .search-bar-input .search-bar-prompt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    visibility: hidden;
    margin: 5px 0;
    width: 85%;
    color: #f46262;
    font-size: 8px;
  }
  banner .search .search-bar .search-bar-button {
    width: 90%;
    padding: 0 15px;
    height: 50px;
    border-radius: 5px;
    background-color: #2acfcf;
    text-align: center;
    color: #fff;
    cursor: pointer;
  }
  banner .search .search-bar .search-bar-button:hover {
    color: #fff;
    background-color: #56dcdc;
  }
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px;
  background: rgba(191, 191, 191, 0.3);
  height: 100%;
}

main p {
  color: #bfbfbf;
}

main .search-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px;
  padding: 10px 5px;
  width: 100%;
}

main .search-table .search-table-context {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  list-style-type: none;
  margin: 10px 0;
  padding: 10px 30px;
  width: 100%;
  height: 50px;
  border-radius: 5px;
}

main .search-table .search-table-context .search-table-text {
  color: #000;
  width: 100%;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

main .search-table .search-table-context .search-table-link {
  justify-self: flex-end;
  text-decoration: none;
  text-align: right;
  color: #2acfcf;
  margin-left: auto;
  padding-left: 20px;
  width: 30%;
}

main .search-table .search-table-context .copy {
  margin-left: 10px;
  width: 80px;
  border-radius: 5px;
  color: #fff;
  background: #2acfcf;
}

main .search-table .search-table-context .copy:hover {
  background: #56dcdc;
}

main .main-title {
  margin: 50px auto;
  padding: 3px;
  max-width: 40%;
  text-align: center;
}

main .main-text-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 350px;
}

main .main-text-card h4 {
  margin-bottom: 5px;
}

main .main-text-card:after {
  content: '';
  background-color: #2acfcf;
  width: 50%;
  height: 7px;
  display: block;
  position: absolute;
  left: 200px;
  z-index: -1;
}

main .main-text-card .main-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  height: 200px;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
}

main .main-text-card .main-text p {
  font-size: 10px;
}

main .main-text-card .main-text.brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: relative;
}

main .main-text-card .main-text.brand::before {
  content: url(../images/icon-brand-recognition.svg);
  position: absolute;
  top: -35px;
  background: #232127;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main-text-card .main-text.detailed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
}

main .main-text-card .main-text.detailed::before {
  content: url(../images/icon-detailed-records.svg);
  position: absolute;
  top: -35px;
  background: #232127;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main-text-card .main-text.fully {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
}

main .main-text-card .main-text.fully::before {
  content: url(../images/icon-fully-customizable.svg);
  position: absolute;
  top: -35px;
  background: #232127;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 414px) {
  main {
    padding: 20px;
  }
  main .search-table {
    margin: 0;
    margin-top: 90px;
    padding: 10px 0;
    width: 100%;
  }
  main .search-table .search-table-context {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 5px 0;
    padding: 15px;
    width: 100%;
    height: 100%;
  }
  main .search-table .search-table-context .search-table-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 5px 0;
  }
  main .search-table .search-table-context .search-line {
    border-bottom: 1px solid #bfbfbf;
    width: 100%;
    margin: 5px 0;
  }
  main .search-table .search-table-context .search-table-link {
    text-align: left;
    padding: 0;
    width: 100%;
    margin: 5px 0;
  }
  main .search-table .search-table-context .copy {
    width: 100%;
    height: 40px;
    margin: 5px 0;
  }
  main .main-title {
    margin: 30px 0 auto;
    max-width: 100%;
  }
  main .main-text-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    margin: 20px 0;
  }
  main .main-text-card:after {
    content: '';
    background-color: #2acfcf;
    width: 7px;
    height: 500px;
    display: block;
    position: absolute;
    left: auto;
    z-index: -1;
  }
  main .main-text-card .main-text {
    margin: 50px;
  }
  main .main-text-card .main-text.brand, main .main-text-card .main-text.detailed, main .main-text-card .main-text.fully {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  main .main-text-card .main-text.brand:before, main .main-text-card .main-text.detailed:before, main .main-text-card .main-text.fully:before {
    position: absolute;
    left: 40%;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .top {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../images/bg-shorten-desktop.svg) #2e2442;
  width: 100%;
  height: 150px;
}

footer .top h2 {
  color: #fff;
}

footer .top a {
  width: auto;
  margin: 10px;
  padding: 0.5rem 1.5rem;
  border-radius: 1.5rem;
  color: #fff;
  background-color: #2acfcf;
  text-decoration: none;
}

footer .top a:hover {
  color: #fff;
  background-color: #56dcdc;
  text-decoration: none;
}

footer .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 50px;
  width: 100%;
  height: 250px;
  background: #18141f;
}

footer .bottom .footer-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 500px;
  color: #fff;
  font-size: 16px;
}

footer .bottom .footer-middle .footer-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .bottom .footer-middle .footer-text h4 {
  margin-bottom: 10px;
}

footer .bottom .footer-middle .footer-text a {
  margin-bottom: 5px;
  font-weight: 100;
  color: #bfbfbf;
}

footer .bottom .footer-middle .footer-text a:hover {
  color: #2acfcf;
}

footer .bottom .footer-icon {
  color: #fff;
}

footer .bottom .footer-icon a {
  margin: 5px;
}

footer .bottom .footer-icon a svg path:hover {
  fill: #2acfcf;
}

@media (max-width: 414px) {
  footer .bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px;
    height: 100%;
    background: #18141f;
  }
  footer .bottom .footer-logo {
    margin: 10px;
  }
  footer .bottom .footer-middle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: auto;
    color: #fff;
    font-size: 16px;
  }
  footer .bottom .footer-middle .footer-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 10px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .bottom .footer-middle .footer-text h4 {
    margin: 10px 0;
    font-size: 8px;
  }
  footer .bottom .footer-middle .footer-text a {
    margin-bottom: 5px;
    font-weight: 100;
    font-size: 8px;
    color: #bfbfbf;
  }
  footer .bottom .footer-icon {
    color: #fff;
    margin: 10px;
  }
  footer .bottom .footer-icon a {
    margin: 5px;
  }
}
/*# sourceMappingURL=all.css.map */