* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  border: none;
}

body {
  max-width: 100%;
  margin: auto;
}

body .container {
  padding: 2rem 2rem;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .menu a {
  margin-right: 1rem;
  text-decoration: none;
  color: #9e9aa7;
}

header .login a {
  text-decoration: none;
  color: #9e9aa7;
  border-radius: 1.5rem;
  padding: 0.5rem 1rem;
}

header .login a:hover {
  color: #fff;
  background-color: #2acfcf;
}

banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  position: relative;
  margin-bottom: 100px;
}

banner left {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  height: 300px;
}

banner left h1 {
  line-height: 1;
  font-weight: 900;
  font-size: 3rem;
}

banner left p {
  margin-bottom: 1.5rem;
  color: #9e9aa7;
}

banner left a {
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  color: #fff;
  background-color: #2acfcf;
}

banner right {
  overflow: hidden;
}

banner right img {
  position: relative;
  left: 150px;
}

.search {
  position: absolute;
  bottom: -14%;
  left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  width: 80%;
  height: 100px;
  border-radius: 10px;
  background: url(../images/bg-boost-desktop.svg) #35323e;
}

.search input {
  margin: auto 10px;
  border: none;
  border-radius: 5px;
  width: 80%;
  height: 40%;
}

.search input::-webkit-input-placeholder {
  padding: 20px;
}

.search input:-ms-input-placeholder {
  padding: 20px;
}

.search input::-ms-input-placeholder {
  padding: 20px;
}

.search input::placeholder {
  padding: 20px;
}

.search button {
  width: 10%;
  height: 40%;
  border-radius: 5px;
  background-color: #2acfcf;
  color: #fff;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50px auto;
  padding: 50px;
  background: rgba(191, 191, 191, 0.3);
  height: 100%;
}

main .main-title {
  margin: 30px auto;
  padding: 3px;
  max-width: 50%;
  text-align: center;
}

main .main-title p {
  font-size: 10px;
}

main .main-text-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .main-text-card .main-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  height: 200px;
  margin: 10px;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
}

main .main-text-card .main-text p {
  font-size: 10px;
}

main .main-text-card .main-text.brand {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

main .main-text-card .main-text.detailed {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

main .main-text-card .main-text.fully {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
/*# sourceMappingURL=all.css.map */